:root .react-3d-carousel .slider-container {
	left: 25%;
}
:root
	.react-3d-carousel
	.slider-container
	.slider-content
	.slider-single.preactive {
	opacity: 0.5;
}
:root .react-3d-carousel .slider-container .slider-content {
	width: 80%;
	left: 60%;
}
:root .react-3d-carousel .slider-container .slider-left div {
	border: none;
}
:root .react-3d-carousel .slider-container .slider-right div {
	border: none;
}
.home {
	width: 100%;
	height: 100vh;
}
.banner {
	width: 100%;
	background: url("../../assets/images/Pattern.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 200px;
	height: 100vh;
}
.bannerImg {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bannerImg img {
	max-width: 450px;
}
.h-artists-section {
	padding: 0 5rem;
	background-color: black;
}
.projects-section {
	display: flex;
	flex-direction: column;
	padding: 0 5rem;
}
.projects-section h1 {
	color: #fff;
	text-align: left;
	padding: 5rem 0;
}
.projects-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 50px 0;
}
.single-project {
	color: hsl(0, 0%, 30%);
	margin: 10px 5px;
	width: calc(25% - 10px);
	font-size: 10px;
}
.project-img {
	max-height: 200px;
	max-width: 500px;
	overflow: hidden;
	margin-bottom: 10px;
}
.project-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.bottom-img {
	background-color: #060809;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px;
}
.bottom-img img {
	max-width: 1000px;
}

/* artist slide */
.h-artists-section {
	padding: 3rem 0;
}
.h-artists-section h1 {
	color: #fff;
	text-align: left;
	text-transform: capitalize;
	margin-left: 5rem;
	margin-bottom: 5rem;
}
.artist-slider {
	display: flex;
	justify-content: left;
	overflow: scroll;
	padding: 3rem 0;
}
.artist-slide {
	display: flex;
	justify-content: space-between;
	text-align: left;
	width: 100%;
	padding-right: 20px;
	margin: 0 auto;
	background: url("../../assets/images/Artists/artistBack.png");
	background-position: center;
	background-size: cover;
	background-color: #060809;
}
.slide-image {
	display: flex;
	position: relative;
}
.slide-image img {
	width: 100%;
	height: 100%;
	min-width: 400px;
}
.slide-image-text {
	position: absolute;
	left: 90%;
	top: 20%;
	color: #fff;
	min-width: 40%;
	font-family: "Popins";
}
.slide-image-text h1 {
	text-transform: uppercase;
}
.slide-image-text p {
	font-size: 16px;
	text-align: left;
}
.slide-info {
	padding: 70px 0;

	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-transform: uppercase;
}
.slide-info span {
	opacity: 0.3;
	color: #473d3d;
	font-size: 50px;
}
@media screen and (max-width: 600px) {
	.bottom-img {
		padding: 20px 0;
	}
	.bottom-img img {
		max-width: 320px;
	}
	.slide-image-text {
		display: none;
	}
	.slide-info {
		display: none;
	}
	.h-artists-section {
		padding: 2rem;
	}
	.h-artists-section h1 {
		color: #fff;
		text-align: center;
		font-size: 25px;
		margin-left: 0;
		margin-bottom: 2rem;
	}
	.slide-image {
		margin: 0 auto;
	}
	.slide-image img {
		width: 100%;
		height: 100%;
		max-width: 320px;
		min-width: 320px;
	}
	.artist-slide {
		width: 90%;
		padding: 0;
		margin: 10px;
		background-color: transparent;
	}
	.artist-slider {
		direction: ltr;
	}
	.projects-container {
		flex-direction: column;
	}
	.single-project {
		width: 100%;
	}
	.projects-section h1 {
		padding: 2rem 0;
	}
	.bannerImg img {
		max-width: 350px;
	}
}
