.register-section {
	width: 50%;
	margin: 5rem auto;
	height: 100vh;
	font-family: "B Yekan";
}
.register-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
}
.register-title h1 {
	color: #ffffff;
	font-size: 30px;
	font-weight: 100;
}
.title-line {
	border: 1px solid #565b6b;
	width: 150px;
	margin-right: 20px;
	height: 1px;
}
.register-box {
	background: #4b4f5f;
	border: 1px solid #4b4f5f;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	padding: 2rem;
	border-radius: 50px;
	max-width: 500px;
	margin: 0 auto;
}
.input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}
.register-box label {
	color: #ffffff;
	margin-bottom: 20px;
}
.register-box input {
	background: #5d6174;
	border-radius: 20px;

	border: none;
	padding: 10px;
	outline: none;
	height: 50px;
	font-size: 16px;
}
.register-box button {
	border: none;
	background: linear-gradient(94.97deg, #ff0000 -130.13%, #c750ff 129.4%);
	border-radius: 30px;
	padding: 1rem;
	color: #ffffff;
	width: 100%;
	margin-bottom: 3rem;
	font-size: 16px;
	cursor: pointer;
	font-family: "B Yekan";
}
.input-text-container {
	height: 30px;
	background: rgba(93, 97, 116, 0.2);
	border-radius: 20px;
	display: flex;
	align-items: center;
	padding: 10px;
	color: #ff9090;
	font-size: 12px;
	margin-bottom: 20px;
	font-family: "B Yekan";
}
.register-box p {
	margin-bottom: 1rem;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
}
.register-box p span {
	color: #c750ff;
}
@media screen and (max-width: 600px) {
	.input-container {
		margin-bottom: 1rem;
	}
	.register-title {
		justify-content: flex-start;
	}
	.register-title h1 {
		font-size: 20px;
	}

	.register-section {
		margin-top: 40px;
		width: 100%;
		padding: 0.6rem;
	}
	.title-line {
		width: 50%;
	}
	.register-box {
		background: none;
		border: none;
		backdrop-filter: inherit;
		padding: 0.5rem;
	}
	.register-box p {
		line-height: 2;
		font-size: 13px;
	}
}
