@font-face {
	font-family: "Monument";
	src: url("../../assets/fonts/MonumentExtended-Regular.otf");
	font-weight: 200;
}
:root .ant-btn:hover {
	background-color: transparent;
	border: none;
	color: hsl(0, 0%, 30%);
	border-bottom: 1px solid hsl(0, 0%, 30%);
}
:root .ant-notification-notice {
	text-align: left;
	font-size: 14px;
}
:root .ant-notification-notice-message {
	direction: ltr;
}
.contacts-section {
	width: 100%;
	background-image: url("../../assets/images/Pattern.png");
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 200px 5rem 50px;
}

.contact-form {
	width: 50%;
}
.contact-form button {
	background-color: transparent;
	border: none;
	color: hsl(0, 0%, 30%);
	border-bottom: 1px solid hsl(0, 0%, 30%);
	cursor: pointer;
	font-size: 18px;
	font-family: "Monument";
}
.form-input {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 3rem 0;
}
.form-input label {
	color: hsl(0, 0%, 30%);
	margin-bottom: 20px;
	font-size: 18px;
	font-family: "Monument";
}
.form-input input,
.captcha input {
	outline: none;
	border: none;
	border-bottom: 1px solid hsl(0, 0%, 30%);
	background-color: transparent;
	font-size: 20px;
	color: #ffffff;
	direction: ltr;
}
.contact-info {
	color: #ffffff;
	width: 20%;
}
.contact-info .contact-info-row {
	display: flex;
	flex-direction: column;
	direction: ltr;
	text-align: left;
	margin-bottom: 3rem;
	font-size: 12px;
}
.contact-info h3 {
	color: hsl(0, 0%, 30%);
	font-size: 18px;
	margin-bottom: 20px;
}
.contact-info .contact-info-row div {
	direction: ltr;
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-bottom: 20px;
}
.contact-info .contact-info-row img {
	margin-right: 10px;
	max-width: 20px;
	object-fit: cover;
}
.captcha {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	margin-bottom: 3rem;
}
.captcha button {
	border: none;
}
.captcha img {
	object-fit: contain;
}
@media screen and (max-width: 600px) {
	.contacts-section {
		flex-direction: column-reverse;
		padding: 200px 1rem 1rem;
	}
	.contact-info,
	.contact-form {
		width: 100%;
	}
	.form-input {
		align-items: center;
	}
	.form-input input,
	.captcha input {
		width: 60%;
		text-align: center;
		align-self: center;
	}
	.contact-info {
		margin-top: 3rem;
	}
	.contact-info-row:nth-child(1) {
		display: none;
	}
}
