.title-line {
	border: 1px solid #565b6b;
	width: 100%;
	margin-right: 20px;
	height: 1px;
}
.about-content {
	width: 90%;
	padding: 0 1rem;
	margin: 0 auto;
}
.about-text {
	padding: 4rem 0;
	border-bottom: 1px solid #565b6b;
	margin-bottom: 2rem;
}
.about-title {
	display: flex;
	align-items: center;
	color: #ffffff;
	font-size: 18px;
	font-weight: 100;
	padding: 0 1rem;
}
.about-text p {
	color: #ffffff;
	line-height: 1.6;
	font-size: 14px;
	font-weight: 100;
}
.about-team {
	color: #ffffff;
}
.about-team h1 {
	margin-bottom: 1rem;
}
.about-team p {
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 2rem;
}
.team-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem 0;
	direction: ltr;
}

.single-person {
	width: calc(30% - 10px);
	display: flex;
	border: 1px solid #4b4f5f;
	border-radius: 300px;
	margin: 20px 7px;
	direction: ltr;
	height: 150px;
}
.single-person img {
	max-width: 170px;
	height: 100%;
	object-fit: cover;
}

.person-info {
	margin-left: 20px;
	padding: 1rem 0;
	text-align: left;
}
.person-info h3 {
	font-size: 14px;
	font-weight: 100;
	margin-bottom: 10px;
}
.person-info h1 {
	font-size: 18px;
}

.person-info a {
	color: #ffffff;
	margin-bottom: 5px;
}
