.products-title {
	display: flex;
	align-items: center;
	color: #ffffff;
	font-size: 18px;
	font-weight: 100;
	padding: 0 1rem;
	margin-bottom: 3rem;
}
.products-section {
	width: 100%;
}
.title-line {
	border: 1px solid #565b6b;
	width: 70%;
	margin-right: 30px;
	height: 1px;
}

.products-content {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

.products-info {
	width: calc(30% - 1rem);
	margin-left: 1rem;
	background: #4b4f5f;
	border: 1px solid #4b4f5f;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	border-radius: 50px;
}
.products {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
}
.single-product {
	border: 1px solid #4b4f5f;
	border-radius: 40px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	width: calc(25% - 20px);
	margin: 7px;
}
.single-product h1,
.single-product h4 {
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 20px;
}
.single-product h4 {
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 30px;
}
.button-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid #56596a;
	border-radius: 20px;
	box-sizing: border-box;
	height: 40px;
	padding: 1rem 0;
	transition: 0.3 all linear;
	color: #ffffff;
}
.button-container:hover {
	background: linear-gradient(94.97deg, #ff0000 -130.13%, #c750ff 129.4%);
}

.button-container button {
	background: linear-gradient(94.97deg, #ff0000 -130.13%, #c750ff 129.4%);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-left: 20px;
	border: none;
	color: #ffffff;
	font-size: 1rem;
}
.products-info {
	display: flex;
	padding: 2rem 1rem;
	flex-direction: column;
}
.second-row {
	display: flex;
	justify-content: space-between;
}
.info-input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.second-row .info-input-container {
	width: calc(50% - 10px);
}

.info-input-container label {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 0.8rem;
}
.info-input-container select {
	padding: 1rem;
	box-sizing: border-box;
	height: 100%;
	background-color: #5d6174;
	border: none;
	outline: none;
	border-radius: 10px;
	color: #ffffff;
	font-family: "B yekan";
}
.products-info button {
	background: linear-gradient(94.97deg, #ff0000 -130.13%, #c750ff 129.4%);
	border-radius: 30px;
	box-sizing: border-box;
	padding: 1rem;
	border: transparent;
	color: #ffffff;
	margin-top: auto;
	font-family: "B yekan";
}

.products-modal {
	position: fixed;
	padding: 1rem;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(168.1deg, #373d53 -1.02%, #252634 100%);
	z-index: 1;
	display: flex;
	flex-direction: column;
}
.hideModal {
	display: none;
}
.showModal {
	display: flex;
}
.products-modal .back {
	align-self: flex-end;
	color: #fff;
	margin-bottom: 2rem;
}

.products-modal .back img {
	margin-right: 15px;
}
.single-product {
	padding: 1rem;
	border: 1px solid #5d6174;
	border-radius: 30px;
	color: #fff;
	width: calc(25% - 10px);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 600px) {
	.title-line {
		width: 60%;
	}
	.products-title h1 {
		width: 100%;
		font-size: 1.1rem;
	}
	.products-title {
		font-size: 16px;
	}
	.products-info {
		display: none;
	}
	.products-content {
		width: 100%;
		flex-direction: column;
	}
	.products {
		width: 100%;
	}
	.products-modal .single-product {
		width: 100%;
	}
	.single-product {
		width: calc(50% - 10px);
	}
	.single-product h3 {
		display: flex;
	}

	.button-container button {
		margin-left: 10px;
	}
}
